<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{login}"></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/css/admin.css" media="all">
    <link rel="stylesheet" href="../../static/css/login.css" media="all">
    <script type="text/javascript" th:src="@{../../static/js/public/public.js}"></script>
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2 th:text="#{logo.title}"></h2>
            <p th:text="#{logo.text}"></p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                       for="LAY-user-login-username"></label>
                <input type="text" name="account" id="LAY-user-login-username" lay-verify="required"
                       th:placeholder="#{login.account}" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                       th:placeholder="#{login.password}" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                               for="LAY-user-login-vercode"></label>
                        <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required"
                               th:placeholder="#{login.verificationCode}" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <!-- <img src="https://www.oschina.net/action/user/captcha" class="layadmin-user-login-codeimg"
                                  id="LAY-user-get-vercode">-->
                            <canvas id="canvas" width="100%" height="40"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-left:0px">
                <input type="radio" name="language" id="zh_CN" value="zh_CN" th:title="#{logo.language_zh}" checked
                       style="padding-left: 38px">
                <input type="radio" name="language" id="en_US" value="en_US" th:title="#{logo.language_en}">
            </div>
            <div class="layui-form-item" style="margin-bottom: 20px;">
                <input type="checkbox" name="rememberMe" lay-skin="primary" value=true th:title="#{login.rememberPassword}">
                <a href="forget.html" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;"
                   th:text="#{login.forgetPassword}"></a>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit"
                        th:text="#{login}"></button>
            </div>
            <div class="layui-trans layui-form-item layadmin-user-login-other">
                <label th:text="#{login.socialAccountLogin}"></label>
                <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
                <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>
                <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>
                <!--<a href="reg.html" class="layadmin-user-jump-change layadmin-link">注册帐号</a>-->
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    layui.use("form", function () {
        var form = layui.form;
        form.on('radio', function (data) {
            location.href = "/?l=" + data.value;
        });
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURI(r[2]);
            return null;
        }
        var l = $.getUrlParam("l");
        if (l == "en_US") {
            $("#en_US").attr("checked", true);
        } else {
            $("#zh_CN").attr("checked", true);
        }
        form.render();

        form.on('submit(LAY-user-login-submit)', function (data) {
            if($("#LAY-user-login-vercode").val()!=show_num.join("")){
                layer.msg([[#{login.verificationFiailed}]]);
                return false;
            }
            if(data.field.rememberMe=="true"){
                data.field.rememberMe=true;
            }else{
                data.field.rememberMe=false;
            }
            console.info(data.field);
            $.ajax({
                url: "/auto/user/login",
                async: false,
                type: "POST",
                dataType: "json",
                data: JSON.stringify(data.field),
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    layer.msg(data.message);
                    if(data.code==200){
                        location.href="/index";
                    }
                }
            });
        })
    });
</script>
<script>
    var show_num = [];
    $(function () {
        draw(show_num);

        $("#canvas").on('click', function () {
            draw(show_num);
        })
        $(".btn").on('click', function () {
            var val = $(".input-val").val().toLowerCase();
            var num = show_num.join("");
            if (val == '') {
                alert('请输入验证码！');
            } else if (val == num) {
                alert('提交成功！');
                $(".input-val").val('');
                draw(show_num);

            } else {
                alert('验证码错误！请重新输入！');
                $(".input-val").val('');
                draw(show_num);
            }
        })
    })

    function draw(show_num) {
        var canvas_width = $('#canvas').width();
        var canvas_height = $('#canvas').height();
        var canvas = document.getElementById("canvas");//获取到canvas的对象，演员
        var context = canvas.getContext("2d");//获取到canvas画图的环境，演员表演的舞台
        canvas.width = canvas_width;
        canvas.height = canvas_height;
        var sCode = "A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
        var aCode = sCode.split(",");
        var aLength = aCode.length;//获取到数组的长度

        for (var i = 0; i <= 3; i++) {
            var j = Math.floor(Math.random() * aLength);//获取到随机的索引值
            var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
            var txt = aCode[j];//得到随机的一个内容
            show_num[i] = txt.toLowerCase();
            var x = 10 + i * 20;//文字在canvas上的x坐标
            var y = 20 + Math.random() * 8;//文字在canvas上的y坐标
            context.font = "bold 23px 微软雅黑";

            context.translate(x, y);
            context.rotate(deg);

            context.fillStyle = randomColor();
            context.fillText(txt, 0, 0);

            context.rotate(-deg);
            context.translate(-x, -y);
        }
        for (var i = 0; i <= 5; i++) { //验证码上显示线条
            context.strokeStyle = randomColor();
            context.beginPath();
            context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.stroke();
        }
        for (var i = 0; i <= 30; i++) { //验证码上显示小点
            context.strokeStyle = randomColor();
            context.beginPath();
            var x = Math.random() * canvas_width;
            var y = Math.random() * canvas_height;
            context.moveTo(x, y);
            context.lineTo(x + 1, y + 1);
            context.stroke();
        }
    }

    function randomColor() {//得到随机的颜色值
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
</script>
</body>
</html>